.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 10px;
}

.logo {
  width: 80px;
  height: 80px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
  font-size: 24px;
}

.loginBtn {
  padding: 0 5px;
  cursor: pointer;
}

.filter {
  display: flex;
}

.search {
  padding: 10px;
}

.search-box {
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.res-container,
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 190px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(243, 240, 240);
}

.res-card:hover {
  border: 1px solid #000;
}

.res-logo {
  width: 100%;
}

.filter-btn {
  cursor: pointer;
}

.shimmer-card {
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 6px;
  height: 400px;
  overflow: hidden;
  width: 192px;
  margin: 10px;
}

.shimmerBG {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}

.media {
  height: 200px;
}

.p-32 {
  padding: 32px;
}

.title-line {
  height: 24px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 20px;
}

.content-line {
  height: 8px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
}

.end {
  width: 40%;
}

.m-t-24 {
  margin-top: 24px;
}

.user-card {
  /* display: flex; */
  border: 2px solid #000;
  padding: 2px;
}

.user-img {
  width: 100px;
  height: 100px;
}
