.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 10px;
}

.logo {
  width: 80px;
  height: 80px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  padding: 10px;
  font-size: 24px;
}

.search {
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 200px;
  padding: 10px;
  margin: 5px;
}

.res-card:hover {
  border: 1px solid #000;
}

.res-logo {
  width: 100%;
}
